@model ConnectorViewModel
@{
    ViewData["Title"] = "Connect - actiion";
}

<div class="text-center">
    <h1 class="display-4">DUMMY SUCCESS</h1>
    TODO:  implement actual functionality - integration

    <h1>YOU ARE NOW CONNECTED ;]</h1>
    
</div>